.well {
  position: relative;
  height: 40vh;
  width: 40vw;
  margin: 5vh;
  background-color: transparent;
  border-color: transparent;
}

h1 {
  text-align: center;
  color: black;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
